img{
    width: 60px;
    height: 60px
}

.logo-and-title{
    display: flex;
    gap: 1rem
}
header{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}

.intro h1{
    text-align: center;
}

#root, html{
    background-color:  #b3b4bd;

}

nav{
    padding-right: 2rem
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

Link{
    text-decoration: none;
}